{% extends 'base/base.html' %}
{% block content %}
    <div>
        <h1>Lista de Cortes</h1>
    </div>
    <table class="table table-bordered center">
        <thead>
            <tr>
                <th>Código Corte</th>
                <th>Tipo de Corte</th>
                <th>Descripción</th>
                <th>Precio</th>                
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
            {% for corte in object_list %}
            <tr>
                <td>{{ corte.id }}</td>
                <td>{{ corte.nombre }}</td>
                <td>{{ corte.decripcion }}</td>
                <td>{{ corte.precio }}</td>
                
                <td>
                    <a class="btn btn-primary" href="#">Editar</a>
                    <a class="btn btn-danger" href="#">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <h1>No hay Registro de Solicitudes</h1>
            {% endif %}
        </tbody>
    </table>
    
{% endblock content %}