{% extends 'base/base.html' %}
{% block content %}
    <!--<div>
        <h1>Lista de Cortes</h1>
    </div>
    <table class="table table-bordered center">
        <thead>
            <tr>
                <th>Código Corte</th>
                <th>Tipo de Corte</th>
                <th>Descripción</th>
                <th>Precio</th>                
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
            {% for corte in object_list %}
            <tr>
                <td>{{ corte.id }}</td>
                <td>{{ corte.nombre }}</td>
                <td>{{ corte.decripcion }}</td>
                <td>{{ corte.precio }}</td>
                
                <td>
                    <a class="btn btn-primary" href="modificarcorte/{{ corte.id }}">Editar</a>
                    <a class="btn btn-danger" href="borrarcorte/{{ corte.id }}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <h1>No hay Registro de Solicitudes</h1>
            {% endif %}
        </tbody>
    </table>-->
    <!-- Dropdown Card Example -->
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Listado de Cortes</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Acciones:</div>
                      <a class="dropdown-item" href="/persona/crearcliente"><i class="far fa-calendar-plus"></i> Nuevo</a>
                     
                      
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    {% if not object_list  %}
                        <div class="alert alert-info">No Hay Cortes Registrados</div>                        
                    {% else %}
                    <table class="table table-striped table-hover">
                        <thead>
                            <th>Código Corte</th>
                            <th>Tipo de Corte</th>
                            <th>Descripción</th>                
                            <th>Precio</th>                      
                            <th class="all" >Acciones</th>
                        </thead>
                        <tbody>
                        {% for item in object_list %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.nombre }}</td>                
                                <td>{{ item.decripcion }}</td>                
                                <td>{{ item.precio }}</td>
                                <td>
                                    <a href="/salon/modificarcorte/{{ item.id }}" class="btn btn-warning btn-circle" role="button"><i class="far fa-edit"></i></a>
                                    <a href="/salon/borrarcorte/{{ item.id }}" class="btn btn-danger btn-circle" role="button"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table> 
                    {% endif %} 
                </div>
              </div>
    
{% endblock content %}
{% block extrajs %}
    <script>
         //call The dataTables jquery pluging
      $(document).ready(function() {
          $('.table').DataTable({
            "language": {
              "sProcessing": "Procesando...",
              "sLengthMenu": "Mostrar _MENU_ registros",
              "sZeroRecords": "No se encontraron resultados",
              "sEmptyTable": "Ningún dato disponible en esta tabla",
              "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
              "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
              "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
              "sInfoPostFix": "",
              "sSearch": "Buscar:",
              "sUrl": "",
              "sInfoThousands": ",",
              "sLoadingRecords": "Cargando...",
              "oPaginate": {
                  "sFirst": "<span class='fa fa-angle-double-left'></span>",
                  "sLast": "<span class='fa fa-angle-double-right'></span>",
                  "sNext": "<span class='fa fa-angle-right'></span>",
                  "sPrevious": "<span class='fa fa-angle-left'></span>"
              },
              "oAria": {
                  "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                  "sSortDescending": ": Activar para ordenar la columna de manera descendente"
              }
            }
          });
  });
</script>
{% endblock extrajs %}